 <div class="row">
  <div class="col-xs-4">
      <h2>書籍詳細</h2><br>
 <%= image_tag @item.image, size: "50x50" %>
  </div>

      <br><br><br><br>
      <div class="col-xs-8">
        <table class="table">
          <tbody>
            <tr>
              <td>書籍名</td>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <td>あらすじ</td>
              <td><%= @item.description %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td><%= @item.genre.name %></td>
            </tr>
            <tr>
        
          </tbody>
        </table>
        <div class="col-md-offset-1 col-
          md-2 text-right">
          <%= link_to "編集する", edit_admins_item_path(@item), class: "btn btn-primary" %>
        </div>
      </div>
    </div>