<div class="row">
	<div class="col-xs-2">
	
	</div>

	<br>
	<div class="col-xs-5">
		<p class="item-content1"><%= image_tag @item.image, size: "50x50", format: 'jpeg',fallback: "no_image.jpg", size:'380x300' %></p>
	</div>



	    <div class="col-xs-5">
		      <h3><%= @item.name %></h3>
	      	<p><%= @item.description %></p>
	    </div>
	    
</div>

<div class="row">
	<div class="col-xs-2">
	</div>
	<div class="col-xs-5">
	</div>
	 <% if CartItem.find_by(item_id: @item.id, customer_id: current_customer.id) %>
	 		<div class="col-xs-5">
		  <p>
		  <%= link_to "お気に入り解除", customers_cart_item_path(item_id: @item), method: :delete %>
		  </p>
		  </div>
    <% else %>
	<%= form_for(@cart_item , url: customers_cart_items_path(item_id: @item), method: :post) do |form| %>
		<div class="col-xs-5">
		  <p><%= form.submit "お気に入り登録", class:"btn btn-primary" %></p>
		</div>
	<% end %>
	<% end %>
</div>
	
	<div>
  <p>コメント件数：<%= @item.post_comments.count %></p>
  <% @item.post_comments.each do |post_comment| %>
    <p><%#= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.customer.last_name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if post_comment.customer == current_customer %>
      <%= link_to "削除", customers_item_post_comment_path(post_comment.item, post_comment), method: :delete %>
    <% end %>
    
    <% if post_comment.favorited_by?(current_customer) %>
    <p>
      <%= link_to customers_item_post_comment_favorites_path(@item,post_comment), method: :delete do %>
        ♥<%= post_comment.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to customers_item_post_comment_favorites_path(@item,post_comment), method: :post do %>
        ♡<%= post_comment.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@item, @post_comment] ,url:  customers_item_post_comments_path(@item) ,method: :post do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに（ネタバレはお控えください）" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
</div>