<header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>Comics</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
              <script src="https://kit.fontawesome.com/08c0548ff0.js" crossorigin="anonymous"></script>
          <li>
          
              
                      </li>
        <% if customer_signed_in? %>

          <!--カスタマーがログインしている時 -->
          <li>
           <font color="white">ようこそ、<%= current_customer.last_name %>さん！</font>
          </li>
          <li
            <i class="fa-solid fa-user" style="color: #eeff05;"></i>
            <%= link_to "マイページ", customers_show_path %>
          </li>
  
          <li>
            <i class="fas fa-book-open" style="color: #fcff42;"></i>
            <%= link_to "書籍一覧", items_path %>
            </li>
  
          <li>
            <i class="fas fa-star" style="color: #fbff1a;"></i>
            <%= link_to "お気に入り", customers_cart_items_path %>
            </li>
 
          <li>
            <i class="fas fa-question-circle" style="color: #fcff42;"></i>
            <%= link_to "About", about_path %>
            </li>
  
          <li>
            <i class="fas fa-sign-out-alt" style="color: #f1ff2e;"></i>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
            </li>

        <% elsif admin_signed_in? %>

          <!-- 管理者がログインしている時 -->
          <li>
          <i class="fas fa-book-open" style="color: #fcff42;"></i>
            <%= link_to "書籍一覧", admins_items_path %>
            </li>
   
          <li>
            <i class="fas fa-user-friends" style="color: #f1ff29;"></i>
            <%= link_to "会員一覧", admins_customers_path %>
            </li>
     
          <li>
            <i class="fas fa-th" style="color: #f4f830;"></i>
            <%= link_to "ジャンル一覧", admins_genres_path %>
            </li>
 
          <li>
            <i class="fas fa-question-circle" style="color: #fcff42;"></i>
            <%= link_to "About", about_path %>
            </li>
   
          <li>
            <i class="fas fa-sign-out-alt" style="color: #f1ff2e;"></i>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>

        <% else %>

          <!-- ログインしていない時 -->
          <li>
           <i class="fas fa-book-open" style="color: #fcff42;"></i>
            <%= link_to "書籍一覧", items_path %>
            </li>
    
          <li>
           <i class="fas fa-user-plus" style="color: #fbff24;"></i>
            <%= link_to "新規登録", new_customer_registration_path %>
            </li>
    
          <li>
            <i class="fas fa-question-circle" style="color: #fcff42;"></i>
            <%= link_to "About", about_path %>
            </li>
      
          <li>
            <i class="fas fa-sign-out-alt" style="color: #f1ff2e;"></i>
            <%= link_to "ログイン", new_customer_session_path %>
            </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>